.wrapper:last-child p {
	border: none;
}

.content {
	margin: 0.5rem;
	padding: 1rem;
	border-bottom: 1px rgb(130, 130, 130) solid;
	color: rgb(130, 130, 130);
	transition: 0.2s;
	cursor: pointer;
	user-select: none;
}

.active {
	border-bottom: 1px white solid !important;
	color: white !important;
}

.content:hover {
	transform: scale(1.02);
	border-color: rgb(194, 194, 194);
	color: rgb(194, 194, 194);
}